<div id = 'lineDiv' class='col-md-12'>
    <!--h4>Request Line</h4-->
    <div id = 'line' class='well'>
        <%= reqLine %>
    </div>
</div>

<div id = 'headersDiv' class='col-md-6 col-xs-6'>
    <h4>Request Headers</h4>
    <ul id = 'headers' class = 'well echoColWell'>
        <% Object.keys(headers).forEach(function(key){ %>
            <li>
            <label><%= key %>:</label>
            <p><%= headers[key] %></p>
            </li>
        <% }); %>
    </ul>
</div>

<div id = 'bodyDiv' class='col-md-6 col-xs-6'>
    <h4>Request Body</h4>
    <ul id = 'body' class = 'well echoColWell'>
        <% Object.keys(body).forEach(function(key){ %>
            <li>
            <label><%= key %>:</label>
            <p><%= body[key] %></p>
            </li>
        <% }); %>
    </ul>
</div>
